{% extends 'hotel/base.html' %}


{% block body %}
  <div class="albums-container container-fluid">
    <!-- Albums -->
    <div class="row" >
        {% if all_hotel %}
            {% for hotel in all_hotel%}
                <div class="col-3" style = "margin-top:20px">
                    <div class="card text-center">
                        <div class="thumbnail">
                            <div class="caption">
                                <h5 class="text-success">{{ hotel.nama }}</h5>
                                <h6>{{ hotel.lokasi }}</h6>
                            </div>
                        </div>
                    </div>
                </div>
                {% cycle '' '' '' '' '' '<div class="clearfix visible-lg"></div>' %}
            {% endfor %}
        {% else %}
            <div class="col-sm-12">
                <br>
                <a href="#">
                    <button type="button" class="btn btn-success">
                        <span class="glyphicon glyphicon-plus"></span>&nbsp; Add Hotel
                    </button>
                </a>
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}
